#nodejs .nodejs-container .nodejs-container__inner .nodejs-container-intro-h2{
  border-left: 5px solid #82CAEC;
}

#nodejs .nodejs-container .nodejs-container-intro-histroy-wrap{
  padding: 10px;
  margin: 10px
}

#nodejs .nodejs-container .nodejs-container-intro-histroy-wrap .nodejs-container-histroy-block ul li{
  font-size: 16px;
}
#nodejs .nodejs-container .nodejs-container-intro-histroy-wrap .nodejs-container-histroy-block date{
  color: rgb(94, 94, 117);
}
#nodejs .nodejs-container .nodejs-container-intro-histroy-wrap .nodejs-container-histroy-block ul li a{
  color: #999;
  display: block;
  padding: 15px 0;
  text-indent: 10px;
  border-bottom: 1px solid #E6E6E6
}
#nodejs .nodejs-container .nodejs-container-intro-histroy-wrap .nodejs-container-histroy-block ul li a:hover{
  background: #eee;
  color:#666;
}
#nodejs .nodejs-container-histroy-block-tag{
  background: rgb(180, 165, 145);
  padding: 0 5px;
  margin: 0 5px;
  border-radius: 2px;
  color: #fff;
}
#nodejs .nodejs-container-histroy-block-tag.nodejs-container-histroy-block-tag__template{
  background: orange;
}
#nodejs .nodejs-container-histroy-block-tag.nodejs-container-histroy-block-tag__dbs{
  background: purple;
}
#nodejs .nodejs-container-histroy-block-tag.nodejs-container-histroy-block-tag__webframeworks{
  background: rgb(28, 79, 168);
}
#nodejs .nodejs-container-histroy-block-tag.nodejs-container-histroy-block-tag__core{
  background: rgb(116, 167, 26);
}
#nodejs .nodejs-container-histroy-block-tag.nodejs-container-histroy-block-tag__experience{
  background: rgb(39, 144, 214);
}