/*
Win note @ 2014/01/31
now the Q and A page's content is generate by Markdown
so we don't need these style.
*/
/*
#nodejs .nodejs-container-Q-and-A-wrap{
  padding: 20px;
}
#nodejs .nodejs-container-Q-and-A-block{
  line-height:  22px;
}
#nodejs .nodejs-container-Q-and-A-block dl{

}
#nodejs .nodejs-container-Q-and-A-block dl dt{
  font-weight: bold;
  font-size: 18px;
}
#nodejs .nodejs-container-Q-and-A-block dl dd{
  margin-left: 20px;
  margin-bottom: 20px;
  color: #666;
}
*/
