/*sticky footer examply*/
html, body {
  height: 100%;
  background: whitesmoke;
}

#nodejs-layout {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -45px;
}
#nodejs-layout #nodejs-layout_footer {
  height: 45px;
}

#nodejs{
  font-family: Arial;
  font-size: 14px;
}
#nodejs a{
  color: #0079B3;
  text-decoration: none;
  font-size: 14px;
}
#nodejs a:hover{
  color: #666;
  text-decoration: none;
}
#nodejs .clearfix:before,
#nodejs .clearfix:after{
  display:table;line-height:0;content:""
}

#nodejs .clearfix:after{
  clear:both;
}
#nodejs .nodejs-btn,
#nodejs .nodejs-btn .nodejs-btn__default{
  background: #fff;
  border: 1px solid #fff;
  border-radius: 2px;
  padding: 0px 8px;
}
#nodejs a.nodejs-btn{
  color: #666;
  padding: 2px 8px;
  display: inline-block;
  cursor: pointer;
}
#nodejs a.nodejs-btn:hover{
  color: #333;
  background: #ddd;
}

#nodejs .nodejs-btn .nodejs-btn__info{

}

#nodejs .nodejs__container{
  width: 960px;
  margin: 0 auto;
}

#header{
  padding: 15px;
  border: none;
  background: #000;
  color: #fff;
}
#header  .header__logo{
  display: inline-block;
}
#header  .header__logo a{
  color: #82CAEC;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
#header  .header__logo a:hover{
  text-decoration: none;
}


#header .header-nav{
  display: inline-block;
  margin-left: 20px;
}
#header .header-nav .nocontent.outline{
  display: none;
}
#header .header-nav-ul{
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
#header .header-nav-ul .header-nav--inline{
  float: left;
  display: block;
}
#header .header-nav-ul .header-nav--inline a{
  color:#DDD;
  padding: 10px;
  margin: 5px;
}
#header .header-nav-ul .header-nav--inline a:hover{
  color: #fff;
  text-decoration: none;
}
#header .header-nav-social-network{
  display: inline-block;
  float: right;
  text-align: right;
}
#header .header-nav-social-network li{
  float: left;
  margin: 0 8px;
}
#header .header-nav-social-network li a{
  font-size: 24px;
  color: #fff;
}
#header .header-nav-social-network li a:hover{
  color: #82CAEC;
}
#nodejs .nodejs-banner{
  background: #82CAEC;
  height: auto;
  padding-bottom: 30px;
}

#nodejs .nodejs-banner h2{
  font-size: 98px;
  display: block;
  font-family: sans-serif;
  font-weight: 400;
  color: #fff;
  text-align: center;
  padding: 36px 0;
}
#nodejs .nodejs-banner a.nodejs-btn{
  margin: 0 10px;
}

#nodejs .nodejs-banner .nodejs-banner__topnews{
  background: rgba(240, 240, 240, 0.86);
  width: 60%;
  margin: 0 auto;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  color: #585858;
  border: 1px solid #FFF5F5;
  line-height: 20px;
}

#nodejs .nodejs-container{
 /* background: whitesmoke;*/
}
#nodejs .nodejs-container-intro{
  padding: 30px;
}
#nodejs .nodejs-container-intro-h2{
  font-size: 26px;
  font-weight: bold;
  color: #333;
  padding: 0 10px;
}

#nodejs .nodejs-container-intro-h2__en{
  color: #A7B7C5;
  font-weight: 100;
  font-size: 13px;
  margin-left: 10px;
}

#nodejs .nodejs-container-intro-block-wrap{
  margin: 20px 0;
}

#nodejs .nodejs-container-intro-block{
  background: #FFF;
  margin: 10px;
  padding: 10px;
  width: 28%;
  color: #666;
  display: inline-block;
  vertical-align: top;
  min-height: 300px;
  box-shadow: 0px 4px 4px #ddd;
}
#nodejs .nodejs-container-intro-block-list-icon{
  font-size: 140px;
  display: block;
  text-align: center;
  margin-bottom: 20px;
}
#nodejs .nodejs-container-intro-block-list img{
  width: 100%;
  margin-bottom: 20px;
}
#nodejs .nodejs-container-intro-block-list h3{
  font-size: 21px;
  margin-bottom: 10px;
  color: rgb(35, 35, 48);
  font-weight: bold;
  text-align: center;
}

#nodejs .nodejs-container-intro-block-list p{
  line-height: 18px;
  min-height: 100px;
}

@keyframes myfirst
{
from {background: #eee;}
to {background: #82CAEC;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
from {background: #eee;}
to {background: #82CAEC;}
}



#nodejs .nodejs-container-intro-block-list .nodejs-btn.nodejs-btn__info{
  border: 1px solid #ddd;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-align: center;
  color: #333;
  background: #E3E4E7;
  font-size: 16px;
}

#nodejs .nodejs-container-intro-block-list .nodejs-btn.nodejs-btn__info:hover{
  animation: myfirst 3s;
  -webkit-animation: myfirst 3s; /* Safari and Chrome */
}

#nodejs .nodejs-footer-wrap{
  padding: 15px;
  background: rgb(218, 218, 218);
  color: #696969;
  clear: both;
  position: relative;
  height: 45px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

@media screen and (max-width: 960px) {
  #nodejs .nodejs__container{
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  #header {
    padding: 10px 15px;
  }

  #header .header__logo {
    display: block;
  }
  #header .header-nav {
    display: inline-block;
    margin: 0 auto;
    float: left;
  }
  #header .header-nav-ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    height: 30px;
    line-height: 30px;
  }
  #header .header-nav-ul .header-nav--inline a {
    color: #DDD;
    padding: 0 20px 0 0;
    margin: 0;
  }
  #nodejs .nodejs-banner h2 {
    font-size: 5rem;
  }
  #nodejs .nodejs-container-intro-block {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 10px;
    margin: 10px 0;
  }
  #header .header-nav-social-network{
    display: none;
  }
}

