//about.jade
extends my-layout

block content

  .nodejs-container
      .nodejs-container-intro.nodejs__container.nodejs-container__inner
        h2.nodejs-container-intro-h2
          i.fa.fa-terminal
          | 關於
          span.nodejs-container-intro-h2__en About
        .nodejs-container-about-wrap
          #mk.campus.markdown-style!= article.content
           //.nodejs-container-about-block
           // .nodejs-container-about-block-banner
           // .nodejs-container-about-block-content
           //   p
           //     | nodeJS 台灣社群，由一群熱心開發者聚集而成，主力在於蒐集及建立nodeJS 相關中文資訊，提供最佳的學習管道，讓更多人體會javascript 的好處。nodeJS Taiwan group. We are a group of people who love nodejs. There are collect nodejs tutorial in Chinese about nodeJS
           //   p
           //     | Node.js 台灣社群網站屬於開放原始碼計畫，版本: 0.2.2 ，如有遇到問題，歡迎回應
           //     a(href='https://github.com/nodejs-tw') Node.js Taiwan Github
           //     | 或者與 Node.js 台灣社群聯絡 contact [AT] nodejs.tw
