//header.jade
header#header.nodejs-header.clearfix
      h1.header__logo
        a(href='index.html') Node.js Taiwan 台灣社群
      nav.header-nav
        ul.header-nav-ul
          li.header-nav--inline
            a(href='about.html', title='About us') 關於
          li.header-nav--inline
            a(href='qanda.html', title='Question and Answer') 社群 Q&A
          li.header-nav--inline
            a(href='#', title='job opportunity') 工作徵才
          // li class="header-nav--inline"><a href="#" title="help">社群志工</a></li
          li.header-nav--inline
            a(href='#', title='contactus') 聯絡我們
      ul.header-nav-social-network
        li
          a(href='http://github.com/nodejs-tw', title='github')
            i.fa.fa-github
        li
          a(href='http://www.facebook.com/groups/node.js.tw/', title='facebook')
            i.fa.fa-facebook-square
        li
          a(href='#', title='youtube')
            i.fa.fa-youtube
