// head.jade
block header
    doctype html
    html(lang='zh-TW', dir='ltr')
      head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description' content='Node.js Taiwan 社群')
        meta(name='author', content='Node.js Taiwan')
        title Node.js Taiwan
        // TODO
        link(rel='shortcut icon', href='/images/favicon.ico', type='image/x-icon')
        // TODO
        link(rel='apple-touch-icon-precomposed', href='/images/apple-touch-icon.png')
        link(rel='stylesheet', href='/css/reset.css')
        link(rel='stylesheet', href='/css/node.js.taiwan.css')
        link(rel='stylesheet', href='/css/node.js.taiwan.about.css')
        link(rel='stylesheet', href='/css/node.js.taiwan.article.css')
        link(rel='stylesheet', href='/css/node.js.taiwan.history.css')
        link(rel='stylesheet', href='/css/node.js.taiwan.qanda.css')
        link(rel='stylesheet', href='/css/node.js.taiwan.markdown.css')
        link(rel='stylesheet', href='/css/node.js.taiwan.pagination.css')
        link(href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css', rel='stylesheet')
        script(src='/js/jquery.js')
        script(type='text/javascript', src='/js/node.js.taiwan.index.js')


      body#nodejs
