//histroy.jade
extends my-layout

block content

  #test!= article.content

  .nodejs-container
      .nodejs-container-intro.nodejs__container.nodejs-container__inner
        h2.nodejs-container-intro-h2
          i.fa.fa-video-camera
          | &#27963;&#21205;&#27511;&#21490;
          span.nodejs-container-intro-h2__en Activity Histroy
        .nodejs-container-intro-histroy-wrap
          .nodejs-container-histroy-block.nodejs-list-style__normal
            ul
              li
                a(href='article.html')
                  date 02 Jan 2013
                  | &raquo; Node&period;JS Taiwan Party 25
                  span.nodejs-container-histroy-block-tag.nodejs-container-histroy-block-tag__template Jade
                  span.nodejs-container-histroy-block-tag.nodejs-container-histroy-block-tag__dbs NoSQL
              li
                a(href='article.html')
                  date 02 Jan 2013
                  | &raquo;  Node&period;JS Taiwan Party 25
              li
                a(href='article.html')
                  date 02 Jan 2013
                  | &raquo;  Node&period;JS Taiwan Party 26
              li
                a(href='article.html')
                  date 02 Jan 2013
                  | &raquo;  Node&period;JS Taiwan Party 27
                  span.nodejs-container-histroy-block-tag.nodejs-container-histroy-block-tag__webframeworks Express
              li
                a(href='article.html')
                  date 02 Jan 2013
                  | &raquo;  Node&period;JS Taiwan 2014 &#22823;&#39135;&#22296;&excl;&excl;
                  span.nodejs-container-histroy-block-tag.nodejs-container-histroy-block-tag__experience &#32147;&#39511;&#20998;&#20139;
              li
                a(href='article.html')
                  date 02 Jan 2013
                  | &raquo;  Node&period;JS Taiwan Party 25 Hello World
              li
                a(href='article.html')
                  date 02 Jan 2013
                  | &raquo;  Node&period;JS Taiwan Party 25 &#20320;&#22909;&#23229;&#25105;&#24456;&#22909;
              li
                a(href='article.html')
                  date 02 Jan 2013
                  | &raquo;  Node&period;JS Taiwan Party 25
                  span.nodejs-container-histroy-block-tag.nodejs-container-histroy-block-tag__core &#26680;&#24515;&#25216;&#34899;
              li
                a(href='article.html')
                  date 02 Jan 2013
                  | &raquo;  Node&period;JS Taiwan Party 25
              li
                a(href='article.html')
                  date 02 Jan 2013
                  | &raquo;  Node&period;JS Taiwan Party 25
              li
                a(href='article.html')
                  date 02 Jan 2013
                  | &raquo;  Node&period;JS Taiwan Party 25
              li
                a(href='article.html')
                  date 02 Jan 2013
                  | &raquo;  Node&period;JS Taiwan Party 25
              li
                a(href='article.html')
                  date 02 Jan 2013
                  | &raquo;  Node&period;JS Taiwan Party 25
              li
                a(href='article.html')
                  date 02 Jan 2013
                  | &raquo;  Node&period;JS Taiwan Party 25
              li
                a(href='article.html')
                  date 02 Jan 2013
                  | &raquo;  Node&period;JS Taiwan Party 25
              li
                a(href='article.html')
                  date 02 Jan 2013
                  | &raquo;  Node&period;JS Taiwan Party 25
