include ./head
include ./header

.nodejs-banner
      h2 Node&period;js Taiwan
      p.nodejs-banner__topnews
        | Hello，最近的一場聚會是社群小聚
        a.nodejs-btn.nodejs-btn__info
          i.fa.fa-arrow-circle-right
          | &nbsp;詳情與活動報名
    .nodejs-container
      .nodejs-container-intro.nodejs__container
        h2.nodejs-container-intro-h2
          | 社群介紹
          span.nodejs-container-intro-h2__en Community Introduction
        .nodejs-container-intro-block-wrap
          .nodejs-container-intro-block
            .nodejs-container-intro-block-list
              img(src='https://lh3.googleusercontent.com/-4ONXQpW28IE/Un_KGEuR3UI/AAAAAAAAj9s/L1dO5-BumXk/w1016-h676-no/DSC_8695.JPG')
              h3
                i.fa.fa-microphone
                | 校園演講
              p
                | Node.js 社群自從 2013 年開始深入校園，目前我們已經走訪東吳大學, 輔仁大學, 彰化師範大學, 台灣師範大學等大專院校...
              a.nodejs-btn.nodejs-btn__info(href="/campus")
                i.fa.fa-arrow-circle-right
                | 了解校園演講辦法
          .nodejs-container-intro-block
            .nodejs-container-intro-block-list
              img(src='https://lh6.googleusercontent.com/-Kl0S-0-605s/Un-2uo_HWCI/AAAAAAAAi8w/Z-RrH-PoZ9g/w1612-h1072-no/DSC_8386.JPG')
              h3
                i.fa.fa-comment
                | 聚會及演講
              p
                | 我們不定期舉辦 Node.js 聚會，希望您前來共襄盛舉，一起討論 Node.js。記錄了以往所舉辦的演講影片，希望可以幫助您更了解 Node.js 的一些資訊。
              a.nodejs-btn.nodejs-btn__info(href='/history')
                i.fa.fa-arrow-circle-right
                | 活動歷史
          .nodejs-container-intro-block
            .nodejs-container-intro-block-list
              img(src='https://lh6.googleusercontent.com/-UuWR2UGxw0A/Un_C2DHdpvI/AAAAAAAAjpU/F6Fa_3hYt4Q/w1612-h1072-no/DSC_8546.JPG')
              h3
                i.fa.fa-book
                | 中文電子書協同計劃
              p Node.js 台灣社群網站屬於開放原始碼計畫，版本: 0.2.2 ，如有遇到問題，歡迎回應 Node.js Taiwan Github
              a.nodejs-btn.nodejs-btn__info
                i.fa.fa-arrow-circle-right
                | 共同參與計劃

include ./footer
