//news.jade
extends my-layout

block content

  .nodejs-container
      .nodejs-container-intro.nodejs__container.nodejs-container__inner
        h2.nodejs-container-intro-h2
          i.fa.fa-video-camera
          |  最新消息
          span.nodejs-container-intro-h2__en News
        .nodejs-container-news-wrap
          #mk.news.markdown-style!= article.content

