//qanda.jade
extends my-layout

block content
  .nodejs-container
        .nodejs-container-intro.nodejs__container.nodejs-container__inner
          h2.nodejs-container-intro-h2
            i.fa.fa-terminal
            | &#31038;&#32676; Q&amp;A
            span.nodejs-container-intro-h2__en Community Q &amp; A
          .nodejs-container-Q-and-A-wrap
            .nodejs-container-Q-and-A-block
              dl
                dt
                  h3
                    a(href='#')
                      i.fa.fa-question-circle
                      | &#25105;&#35442;&#22914;&#20309;&#36879;&#36942;&#20309;&#31278;&#31649;&#36947;&#21443;&#21152;&#31038;&#32676;&#27963;&#21205;&quest;
                dd
                  | Facebook &#31038;&#32676;&period;&period;&period;&comma; kktix&comma;&period;&period;&period;&period; &#31561;&#31561;&#12290;Facebook &#31038;&#32676;&period;&period;&period;&comma; kktix&comma;&period;&period;&period;&period; &#31561;&#31561;&#12290;Facebook &#31038;&#32676;&period;&period;&period;&comma; kktix&comma;&period;&period;&period;&period; &#31561;&#31561;&#12290;Facebook &#31038;&#32676;&period;&period;&period;&comma; kktix&comma;&period;&period;&period;&period; &#31561;&#31561;&#12290;Facebook &#31038;&#32676;&period;&period;&period;&comma; kktix&comma;&period;&period;&period;&period; &#31561;&#31561;&#12290;Facebook &#31038;&#32676;&period;&period;&period;&comma; kktix&comma;&period;&period;&period;&period; &#31561;&#31561;&#12290;Facebook &#31038;&#32676;&period;&period;&period;&comma; kktix&comma;&period;&period;&period;&period; &#31561;&#31561;&#12290;
                dt
                  h3
                    a(href='#')
                      i.fa.fa-question-circle
                      | &#25105;&#26377; Node&period;js &#30456;&#38364;&#30340;&#21839;&#38988;&#24819;&#35426;&#21839;&#65292;&#21487;&#20197;&#36879;&#36942;&#21738;&#20123;&#24179;&#21488;&#25110;&#31649;&#36947;&quest;
                dd
                  | Lorem ipsum dolor sit amet&comma; consectetur adipiscing elit&period; Sed et dolor vitae leo suscipit fringilla&period; Class aptent taciti sociosqu ad litora torquent per conubia nostra&comma; per inceptos himenaeos&period; Suspendisse rutrum&comma; eros sed aliquet condimentum&comma; urna felis faucibus turpis&comma; vitae hendrerit velit lacus sed risus&period; Praesent et blandit augue&period; Interdum et malesuada fames ac ante ipsum primis in faucibus&period; Phasellus aliqua
                dt
                  h3
                    a(href='#')
                      i.fa.fa-question-circle
                      | &#35531;&#21839;&#26377;&#25552;&#20379; Node&period;js &#25945;&#23416;&#26041;&#38754;&#30340;&#35506;&#31243;&#25110;&#35611;&#24231;&#21966;&quest;
                dd
                  | Lorem ipsum dolor sit amet&comma; consectetur adipiscing elit&period; Sed et dolor vitae leo suscipit fringilla&period; Class aptent taciti sociosqu ad litora torquent per conubia nostra&comma; per inceptos himenaeos&period; Suspendisse rutrum&comma; eros sed aliquet condimentum&comma; urna felis faucibus turpis&comma; vitae hendrerit velit lacus sed risus&period; Praesent et blandit augue&period; Interdum et malesuada fames ac ante ipsum primis in faucibus&period; Phasellus aliqua
                dt
                  h3
                    a(href='#')
                      i.fa.fa-question-circle
                      | &#32893;&#19981;&#25026;&#20063;&#21487;&#20197;&#20358;&#21443;&#21152;&#31038;&#32676;&#32858;&#26371;&#21966;&quest;
                dd
                  | Lorem ipsum dolor sit amet&comma; consectetur adipiscing elit&period; Sed et dolor vitae leo suscipit fringilla&period; Class aptent taciti sociosqu ad litora torquent per conubia nostra&comma; per inceptos himenaeos&period; Suspendisse rutrum&comma; eros sed aliquet condimentum&comma; urna felis faucibus turpis&comma; vitae hendrerit velit lacus sed risus&period; Praesent et blandit augue&period; Interdum et malesuada fames ac ante ipsum primis in faucibus&period; Phasellus aliqua
                dt
                  h3
                    a(href='#')
                      i.fa.fa-question-circle
                      | &#22914;&#20309;&#25509;&#27965;&#26657;&#22290;&#35611;&#24231; &quest;
                dd
                  | Lorem ipsum dolor sit amet&comma; consectetur adipiscing elit&period; Sed et dolor vitae leo suscipit fringilla&period; Class aptent taciti sociosqu ad litora torquent per conubia nostra&comma; per inceptos himenaeos&period; Suspendisse rutrum&comma; eros sed aliquet condimentum&comma; urna felis faucibus turpis&comma; vitae hendrerit velit lacus sed risus&period; Praesent et blandit augue&period; Interdum et malesuada fames ac ante ipsum primis in faucibus&period; Phasellus aliqua
                dt
                  h3
                    a(href='#')
                      i.fa.fa-question-circle
                      | &#35531;&#21839;&#26377;&#25552;&#20379; Node&period;js &#25945;&#23416;&#26041;&#38754;&#30340;&#35506;&#31243;&#25110;&#35611;&#24231;&#21966;&quest;
                dd
                  | Lorem ipsum dolor sit amet&comma; consectetur adipiscing elit&period; Sed et dolor vitae leo suscipit fringilla&period; Class aptent taciti sociosqu ad litora torquent per conubia nostra&comma;  lacus sed risus&period; Praesent et blandit augue&period; Interdum et malesuada fames ac ante ipsum primis in faucibus&period; Phasellus aliqua
                dt
                  h3
                    a(href='#')
                      i.fa.fa-question-circle
                      | Node&period;js &#26159;&#19968;&#20491;&#35598;&#21966;&quest;
                dd
                  | Lorem ipsum dolor sit amet&comma; consectetur adipiscing elit&period; Sed et dolor vitae leo suscipit fringilla&period; Class aptent taciti sociosqu ad litora torquent per conubia nostra&comma; per inceptos himenaeos&period; Suspendisse rutrum&comma; eros sed aliquet condimentum&comma; urna felis faucibus turpis&comma; vitae hendrerit velit lacus sed risus&period; Praesent et blandit augue&period; Interdum et malesuada fames ac ante ipsum primis in faucibus&period; Phasellus aliqua
                dt
                  h3
                    a(href='#')
                      i.fa.fa-question-circle
                      | &#35531;&#21839;&#26377;&#25552;&#20379; Node&period;js &#25945;&#23416;&#26041;&#38754;&#30340;&#35506;&#31243;&#25110;&#35611;&#24231;&#21966;&quest;
                dd
                  | Lorem ipsum dolor sit amet&comma; consectetur adipiscing elit&period; Sed et dolor vitae leo suscipit fringilla&period; Class aptent taciti sociosqu ad litora torquent per conubia nostrafaucibus turpis&comma; vitae hendrerit velit lacus sed risus&period; Praesent et blandit augue&period; Interdum et malesuada fames ac ante ipsum primis in faucibus&period; Phasellus aliqua
                dt
                  h3
                    a(href='#')
                      i.fa.fa-question-circle
                      | &#35531;&#21839;&#26377;&#25552;&#20379; Node&period;js &#25945;&#23416;&#26041;&#38754;&#30340;&#35506;&#31243;&#25110;&#35611;&#24231;&#21966;&quest;
                dd
                  | Lorem ipsum dolor sit amet&comma; consectetur adipiscing elit&period; Sed et dolor vitae leo suscipit fringilla&period; Class aptent taciti sociosqu ad litora torquent per conubia nostra&comma; per inc&period; Suspendisse rutrum&comma; eros sed aliquet condimentum&comma; urna felis faucibus turpis&comma; vitae hendrerit velit lacus sed risus&period; Praesent et blandit augue&period; Interdum et malesuada fames ac ante ipsum primis in faucibus&period; Phasellus aliqua
